#body {
    width: auto;
    height: auto;
}

#header {
    width: auto;
    height: 6.25rem;
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#box1 {
    width: 50%;
    height: 100%;
}

.logo {
    width: 25%;
    height: 90%;
    background-image: url(imagenes/Travel\ Buddy.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 15%;
    margin-top: 1%;
}

#box2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.4375rem;
}

.element {
    width: auto;
    height: auto;
    margin: auto;
}

.button {
    border-radius: 25%;
    width: 10.625rem;
    height: 4.375rem;
    background-color: turquoise;
    font-weight: bolder;
    color: blue;
}

#container {
    width: auto;
    height: auto;
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box3 {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    color: white;
    font-size: 1.5625rem;
}

.paragraph {
    font-size: .9375rem;
}

#image {
    width: 70%;
    height: 31.25rem;
    background-image: url(imagenes/Aero.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2%;
    margin-left: 15%;
}

#container2 {
    border-bottom: 1px grey solid;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#box4 {
    width: 28%;
    height: auto;
    padding-top: 1%;
}

.title1 {
    color: blue;
    font-size: 2.1875rem;
}

#image2 {
    width: 38%;
    height: 21.875rem;
    background-image: url(imagenes/Circulo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#container3 {
    border-bottom: 1px grey solid;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#image3 {
    width: 38%;
    height: 21.875rem;
    background-image: url(imagenes/Circulo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#box5 {
    width: 28%;
    height: auto;
    padding-top: 1%;
}

.title1 {
    color: blue;
    font-size: 2.1875rem;
}

#container4 {
    border-bottom: 1px grey solid;
    width: auto;
    height: auto;
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#box6 {
    width: 28%;
    height: auto;
    padding-top: 1%;
}

.title1 {
    color: blue;
    font-size: 2.1875rem;
}

#image4 {
    width: 38%;
    height: 21.875rem;
    background-image: url(imagenes/Circulo3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#container5 {
    width: auto;
    height: auto;
    background-color: lightskyblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#box7 {
    width: 50%;
    height: auto;
    margin: auto;
    text-align: center;
    color: black;
    font-size: 1.5625rem;
}

#image5 {
    width: 70%;
    height: 31.25rem;
    margin-bottom: 2%;
    background-image: url(imagenes/Air.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 2%;
    margin-left: 21%;
}

#container6 {
    border-bottom: 1px grey solid;
    width: auto;
    height: auto;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list {
    list-style-type: none;
}

#image6 {
    width: 38%;
    height: 21.875rem;
    background-image: url(imagenes/Tra.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

#box8 {
    width: 15%;
    height: 25%;
    margin: auto;
    margin-bottom: 6%;
    line-height: 1.5625rem;
}

#box9 {
    width: 15%;
    height: 25%;
    margin: auto;
    line-height: 1.5625rem;
}

#box10 {
    width: 15%;
    height: 25%;
    margin: auto;
    margin-bottom: 10%;
    line-height: 1.5625rem;
}

#footer {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#icons {
    width: auto;
    height: auto;
    margin-top: 5%;
    text-align: center;
    font-size: 1.5625rem;
    color: turquoise;
}

#text__end {
    width: auto;
    height: auto;
    margin-bottom: 5%;
    margin-top: 1%;
    text-align: center;
    font-size: 1.25rem;
}